@tailwind base;
@tailwind components;
@tailwind utilities;

.blogpic{
    width: 650px;
    height: 300px;
}
.flex-1{
    margin: 0 !important; 
    width: 100vw;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;

} 

@media (min-width: 1024px){
.container{
    max-width: 12000px !important;
}}
@font-face {
    font-family: "LoveloLineBold";
    src: url(/fonts/LoveloLineBold.otf) format("truetype");
    }
@font-face {
        font-family: "LoveloLineLight";
        src: url(/fonts/LoveloLineLight.otf) format("truetype");
        }
@font-face {
            font-family: "LoveloBlack";
            src: url(/fonts/LoveloBlack.otf) format("truetype");
            }
            .font-lovelo-line-bold{
                font-family: "LoveloLineBold";
            }
            .font-lovelo-line-light{
                font-family: "LoveloLineLight";
            }
            .font-lovelo-black{
                font-family: "LoveloBlack";
            }
.parallax {
    /* The image used */
    background-image: url("https://media.discordapp.net/attachments/972456002844766228/1094536751181205604/DSC_0107.JPG?width=1564&height=1036");


    /* Set a specific height */
    min-height: 300px;
    backdrop-filter: blur( 4px );

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
.glass{
    backdrop-filter: blur(2px );
    height: 300px;
}